.byu{
    background-image: url('assets/img/byu-logo.jpeg') ;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 40px;
    color:rgb(0, 0, 0)
    

}

#p1{
    color:rgb(201, 67, 0) ;
font-size: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#p2{
    color:purple;
font-size: 25px;
}


#p3{
    color:rgb(3, 228, 3);
font-size: 25px;
}


p{color: blue;
font-family: 'Times New Roman', Times, serif;
accent-color: purple;
text-align:right;
font-size: 20px;}


h2{
font-size: 70px;
text-align: center;}

.ap{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: oblique;
font-size: 15px;
    width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Centers the div horizontally */
    text-align: center; /* Centers text content inside the div */
}


.top{text-align: right;font-weight: 700;font-size: 20px;color:peru}


body {
    background-color:rgb(70, 134, 119);
}
